body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px
}

h1{
    color:aqua;
    text-align: center;
}

.destaque{
    font-weight: bold;
    background-color: rgba(56, 76, 190, 0.712);
}

img{
    width: 200px;
    height: auto;
}